<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="陸加奉（香港）國際有限公司">
    <meta name="author" content="GreakSKL">
    <title>陸加奉（香港）國際有限公司</title>
    <!-- css -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/nivo-lightbox.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/nivo-lightbox-theme/default/default.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/animations.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/color/default.css" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <section class="hero" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right navicon">
                    <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
                    <div class="animatedParent">
                        <h1 class="animated fadeInDown">陸加奉</h1>
                        <p class="animated fadeInUp">中国大陆最高端，最奢华的顶级家私供应商</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <a href="#about" class="learn-more-btn btn-scroll">关于我们</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="site-logo">
                            <a href="index.html" class="brand">陸加奉</a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#intro">首页</a></li>
                                <li><a href="#about">关于</a></li>
                                <li><a href="#product">产品</a></li>
                                <li><a href="#supplier">供应商</a></li>
                                <li><a href="#contact">联系我们</a></li>
                            </ul>
                        </div>
                        <!-- /.Navbar-collapse -->
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </nav>
    </div>
    <!-- /Navigation -->
    <!-- Section: about -->
    <section id="about" class="home-section color-dark bg-white">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="animatedParent">
                        <div class="section-heading text-center animated bounceInDown">
                            <h2 class="h-bold">关于我们</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 animatedParent">
                    <div class="text-center">
                        <p>
                            这里填写关于我们第一段。
                        </p>
                        <p>
                            这里填写关于我们第二段。
                        </p>
                        <a href="#product" class="btn btn-skin btn-scroll">我们的产品</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: about -->
    <!-- Section: product -->
    <section id="product" class="home-section color-dark bg-gray">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div>
                        <div class="section-heading text-center">
                            <h2 class="h-bold">产品</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="container">
                <div class="row animatedParent">
                    {volist name="list" id="vo"}
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="animated rotateInDownLeft {$i % 3 == 1 ? '' : ($i % 3 == 2 ? 'slow' : 'slower')}">
                                <div class="service-box">
                                    <div class="service-icon">
                                        <span class="fa fa-star fa-2x"></span>
                                    </div>
                                    <div class="service-desc">
                                        <h5>{$vo.name}</h5>
                                        <div class="divider-header"></div>
                                        <p>
                                            {$vo.description}
                                        </p>
                                        <a href="{:url('product/dtl', array('id'=>$vo['id']))}" class="btn btn-skin">了解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/volist}
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: product -->
    <!-- Section: supplier -->
    <section id="supplier" class="home-section color-dark text-center bg-white">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div>
                        <div class="animatedParent">
                            <div class="section-heading text-center">
                                <h2 class="h-bold animated bounceInDown">供应商</h2>
                                <div class="divider-header"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row animatedParent">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-6 animated fadeInUp">
                        <img src="__PUBLIC__/img/works/1.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-6 animated fadeInUp slow">
                        <div class="text-center">
                            <p>
                                这里填写选取供应商的描述。
                            </p>
                            <p>
                                例如以何种标准选取供应商，我们的供应商都是世界顶级的等等。
                            </p>
                            <p>
                                请尽量详细。
                            </p>
                            <a href="{:url('supplier/dtl')}" class="btn btn-skin">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: supplier -->
    <!-- Section: contact -->
    <section id="contact" class="home-section nopadd-bot color-dark bg-gray text-center">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="animatedParent">
                        <div class="section-heading text-center">
                            <h2 class="h-bold animated bounceInDown">联系我们</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row marginbot-80">
                <div class="col-md-8 col-md-offset-2">
                    <form id="contact-form">
                        <div class="row marginbot-20">
                            <div class="col-md-6 xs-marginbot-20">
                                <input type="text" class="form-control input-lg" id="name" placeholder="姓名" required="required" />
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control input-lg" id="email" placeholder="邮箱地址" required="required" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" id="subject" placeholder="标题" required="required" />
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required" placeholder="信息"></textarea>
                                </div>
                                <button type="submit" class="btn btn-skin btn-lg btn-block" id="btnContactUs">
                                    发送消息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: contact -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy;Copyright 2017</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core JavaScript Files -->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/jquery.sticky.js"></script>
    <script src="__PUBLIC__/js/jquery.easing.min.js"></script>
    <script src="__PUBLIC__/js/jquery.scrollTo.js"></script>
    <script src="__PUBLIC__/js/jquery.appear.js"></script>
    <script src="__PUBLIC__/js/stellar.js"></script>
    <script src="__PUBLIC__/js/nivo-lightbox.min.js"></script>
    <script src="__PUBLIC__/js/custom.js"></script>
    <script src="__PUBLIC__/js/css3-animate-it.js"></script>
</body>

</html>