<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> {include file="common/basiccss"}
</head>

<body>
    {include file="common/top"}
    <div class="main-container container-fluid">
        <div class="page-container">
            {include file="common/left"}
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{:url('index/index')}">系统</a>
                        </li>
                        <li>
                            <a href="{:url('supplier/typeLst')}">供应商管理</a>
                        </li>
                        <li class="active">添加供应商</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Body -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="widget">
                                <div class="widget-header bordered-bottom bordered-blue">
                                    <span class="widget-caption">新增供应商</span>
                                </div>
                                <div class="widget-body">
                                    <div id="horizontal-form">
                                        <form class="form-horizontal" role="form" action="" method="post">
                                            <div class="form-group">
                                                <label for="type" class="col-sm-2 control-label no-padding-right">
                                                    类别
                                                </label>
                                                <div class="col-sm-6">
                                                    <input class="form-control" id="supplierType" placeholder="供应商类别的英文，如窗帘对应‘Curtain’" name="type" required="" type="text">
                                                </div>
                                                <p class="help-block col-sm-4 red">
                                                    * 必填
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <label for="description" class="col-sm-2 control-label no-padding-right">
                                                    描述
                                                </label>
                                                <div class="col-sm-6">
                                                    <input class="form-control" id="supplierdescription" placeholder="供应商类别的描述" name="description" required="" type="text">
                                                </div>
                                                <p class="help-block col-sm-4 red">
                                                    * 必填
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" class="btn btn-default">保存信息</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
    </div>
    {include file="common/basicjs"}
</body>

</html>